# Node
node_modules/
npm-debug.log*

# Environment files
.env
.env.*

# Python
__pycache__/
*.py[cod]

# Python virtual environments
.venv/
venv/
env/

# ML models
ml-model/models/*.joblib

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/